bin/Debug/net7.0/PracticeC-
bin/Debug/net7.0/PracticeC-.deps.json
bin/Debug/net7.0/PracticeC-.dll
bin/Debug/net7.0/PracticeC-.pdb
bin/Debug/net7.0/PracticeC-.runtimeconfig.json
obj/PracticeC-.csproj.nuget.dgspec.json
obj/PracticeC-.csproj.nuget.g.props
obj/PracticeC-.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost
obj/Debug/net7.0/PracticeC-.AssemblyInfo.cs
obj/Debug/net7.0/PracticeC-.AssemblyInfoInputs.cache
obj/Debug/net7.0/PracticeC-.assets.cache
obj/Debug/net7.0/PracticeC-.csproj.AssemblyReference.cache
obj/Debug/net7.0/PracticeC-.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/PracticeC-.csproj.FileListAbsolute.txt
obj/Debug/net7.0/PracticeC-.dll
obj/Debug/net7.0/PracticeC-.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/PracticeC-.genruntimeconfig.cache
obj/Debug/net7.0/PracticeC-.pdb
obj/Debug/net7.0/ref/PracticeC-.dll
obj/Debug/net7.0/refint/PracticeC-.dll
